.button {
  background-color: var(--blue);
  border-radius: 36px;

  border: none;
  transition: background-color 0.4s ease-in-out;
}

.button a {
  text-decoration: none;
  color: inherit;
}

.button:hover {
  background-color: var(--cyan);
}
