.reviews {
  position: relative;
  z-index: 100;
  margin-bottom: 20rem !important;
}

.review-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.review-block {
  background-color: var(--dark-blue--4);
  border-radius: 8px;
}

#review-info-text p {
  margin-bottom: 0;
}

.avatar-pic {
  width: 48px;
  height: 48px;
}

@media (max-width: 990px) {
  .review-wrapper {
    grid-template-columns: 1fr;
  }
}

#reviews-quotes {
  position: absolute;
  z-index: -1;
  left: -0.5rem;
  top: 1rem;
}
