.testimonials {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 750px;
  margin: auto;
  gap: 120px;
}

.testimonials-item h1,
.testimonials-item p {
  color: var(--white);
  text-align: center;
}

@media screen and (max-width: 768px) {
  .testimonials {
    grid-template-columns: 1fr !important;
    gap: 24px;
  }
}
